# ignore
IGNOREME.md
archives/

# autogen from configure
Makefile
src/common/config.h
config.log
config.status
etc/libdir-h

# compilation artifacts
.bin
.bindir
bin/
src/common/sub/expr_gram.yacc.c
src/common/sub/expr_gram.yacc.h
src/cook/builtin/expr_parse.yacc.c
src/cook/builtin/expr_parse.yacc.h
src/cook/fingerprint/gram.yacc.c
src/cook/fingerprint/gram.yacc.h
src/cook/hashline.yacc.c
src/cook/hashline.yacc.h
src/cook/parse.yacc.c
src/cook/parse.yacc.h
src/cooktime/date.yacc.c
src/cooktime/date.yacc.h
src/etc/libdir-h
src/make2cook/gram.yacc.c
src/make2cook/gram.yacc.h
src/make2cook/vargram.yacc.c
src/make2cook/vargram.yacc.h
src/script/cook_rsh

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
